table{
    width:99%; 
 
}

table,th,td{
    border: 1px solid #bd91ae; 

}

thead{
    background:#ecd7e9;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    color:#ffffff;

}
tbody{
    background:#7c12e0; 
}

td{
    color:#fffcf9;
    font-family: 'Times New Roman', Times, serif;
    padding:0.5%;
    text-align:center;

}

th{
    height:66px;;
}